.title{
    text-align: center;
}

.main{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;

}
.main2{
    display:grid;
    grid-template-columns: 20% 1fr 20%;
}
.menu{
    border: 2px solid black;
    margin: 10px;
    padding: 2%;
}

.content{
    border: 2px solid red;
    margin: 10px;
    padding: 2%;
}

.footer{
    text-align: center;
}